---
import Layout from '../layouts/Layout.astro';
import Repos from '../components/Repos.svelte';
import Birthday from '../components/Birthday.svelte';

const GITHUB = 'https://github.lorypelli.dev/';
---

<Layout>
    <span>Hi, I'm LoryPelli</span>
    <Birthday client:only />
    <span>This is my portfolio</span>
    <span
        >I'm a developer and I'm really active on github (I should touch grass
        ik)</span
    >
    <img
        src="https://streak-stats.demolab.com/?user=LoryPelli&theme=dark&hide_border=true"
        loading="lazy"
        decoding="async"
    />
    <span
        >Here is my github btw: <a
            href={GITHUB}
            class="text-blue-600 hover:underline">{GITHUB}</a
        ></span
    >
    <Repos client:only />
</Layout>
